.login-container {
  display: flex;
  justify-content: space-between;
  width: max-content;
  background-color: #51A7AD;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.login-container input {
  margin: 4px;
}

.login-container h3 {
  text-align: center;
  margin: auto;
}

h3 {
  margin: 24px;
}
