.container {
  margin: 16px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: whitesmoke;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 20rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.post-tile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: max-content;
  padding: 8px;
  
}
.post-tile p {
  margin: 5px;
  font-size: xx-small;
  color: gray;
}

.post-body {
  padding: 24px;
  background-color: white;
}
.post-body p {
  margin: 12px 8px 12px 8px;
}

.comment-styles {
  padding: 8px;
}

.comment-button:hover {
  color: grey
}

.button-area {
  padding-left: 32px;
  padding-right: 32px;
  width: 100% ;
  border-top: 1px solid, black;
  background-color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.comment-container {
  margin-top: 24px;
}