.header {
  display: flex;
  background-color: #a0f8ee;
  justify-content: space-between;
  margin: auto -16px 24px -16px;
  padding: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
}




