.header {
  display: flex;
  background-color: #F7A7BF;
  justify-content: space-between;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: top 0px;
}

.header h1 {
  font-size: x-large;
  color: whitesmoke;
  font-weight: bold;
}




